body {
    background-color: aquamarine;
}

.Ask {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

footer {
    text-align: center;
    font-family: sans-serif;
}

.button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background-color: bisque;
}


